<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>Témoignages</h2>
      <p>Nous préférons laisser nos corsaires parler à notre place.</p>
    </header>
    <div class="testimonials">
      <section>
        <div class="content">
          <blockquote>
            <p>"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération."</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <%=image_tag("pablo.jpg") %>
            </div>
            <p class="credit">- <strong>Pablo</strong> <span>Community Manager - Ignition Program</span></p>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation !</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <%=image_tag("isabelle.jpg") %>
            </div>
            <p class="credit">- <strong>Isabelle Bonnet</strong> <span>CEO - AlgoSki</span></p><br>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <blockquote>
            <p>En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides.</p>
          </blockquote>
          <div class="author">
            <div class="image">
              <%=image_tag("maxime.jpg") %>
            </div>
            <p class="credit">- <strong>Maxime Souillat</strong> <span>Développeur ruby - Studiomatic</span></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
